body{
    
    background-size: 99%;
    font-family: 'poppins';
    margin: 0;
    padding: 0%;
    background-image: url(../images3/istockphoto-1157159213-612x612.jpg);
    background-repeat: no-repeat;
    background-size: 99%;
    
}

.logo{
    text-decoration: none;
    font-weight: bold;
    color: #707070;
    font-size: 1.2em;
    font-family: 'poppins';

span{
color: #FF3D3D;
padding: 3;
}

}

nav{
width: 100%;
overflow: auto;
background: black;
}


ul{       
padding: 0;         
margin: 0 0 0 250px;
list-style: none;
}

    


       
li{
float: left;
}

li a{
width: 100px;
display: block;
padding: 20px 15px;
text-decoration: none;
font-family: 'poppins';
color: White;
text-align: center;
}

li a:hover{
background: gray;
text-transform: uppercase;
}

.logo{
position: absolute;
margin-top: 18px;
margin-left: 15px;
font-weight: bold;
font-family: 'poppins';

}

img.Man1{
    margin: 46px 677px;
}

.MAN{
    align-items:center;
}
h1{
    text-align: center;
    color: black
}

img.MAN2{
    margin: 56px 646px;
}

.MAN{
    margin: 0px 49px;
}

img.Man3{
    margin: -312px;
}

h2.MAN3{
    margin: -327px 189px;
    font-family: 'poppins';
    font-weight: bold;
}

h3.MAN4{
    margin: 324px 172px;
    font-family: 'poppins';
    font-weight: bold;
}

h4.MAN5{
    margin: -321px 153px;
    font-family: 'poppins';
    font-weight: bold;
}

h5.MAN6{
    margin: 324px 181px;
    font-family: 'poppins';
    font-weight: bold;
}

.h{
     font-family: 'poppins';
     font-weight: bold;
}

h5{
    color: white;
}